<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InDEVstockWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>

    <header>
        <div class=" text-center mt-2">
            <h1 class="pt-3 pb-3 bg-dark text-white">InDevStock </h1>
            <h2 class="pt-3 pb-3">A forma mais inteligente de gerenciar o seu estoque de roupas!!</h2>
   
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="p-3 mb-2 bg-dark text-white ">

        <div class="row">
            <div class="col-sm">
                <h1>InDEVstock</h1>
            </div>
            <div class="col-sm">

                <p>Alberto da Silva Araujo</p>
                <p>Bárbara Gabriela Sousa</p>
                <p>Bruno Soares de Oliveira Lopes</p>

            </div>
            <div class="col-sm">

                <p>Douglas Henrique</p>
                <p>Gabriel Barbosa Baruque</p>
                <p>Tarcisio Santana</p>

            </div>

        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
