@page
@model InDEVstockWebApp.Pages.Produtos.CreateModel
@{
}
<hr class="linha-divisao" />
<h1 class="cor-cadastro-produto">Cadastrar Produto</h1>


<form method="post" class="row form-cadastro shadow mb-5 bg-body rounded">
    <div class="form-cadastro-informacoes">
        <h3 class="form-cadastro-descricao">Insira as informações do produto...</h3>
        <div class="entrada-cadastro">
            <label for="nome" class="">Nome</label>
            <div class="form-group">
                <input type="text" class="" id="Nome" name="Nome" />
            </div>
        </div>
        <div class="entrada-cadastro">
            <label for="" class="">Modelo</label>
            <div class="form-group">
                <input type="text" class="" id="Modelo" name="Modelo" />
            </div>
        </div>
        <div class="entrada-cadastro">
            <label for="" class="">Cor</label>
            <div class="form-group">
                <input type="text" class="" id="Cor" name="Cor" />
            </div>
        </div>
        <div class="entrada-cadastro">
            <label for="" class="">Quantidade</label>
            <div class="form-group">
                <input type="text" class="" id="Quantidade" name="Quantidade" />
            </div>
        </div>
        <div class="entrada-cadastro">
            <label for="" class="">Tamanho</label>
            <div class="form-group">
                <input type="text" class="" id="Tamanho" name="Tamanho" />
            </div>
        </div>
        <div class="entrada-cadastro">
            <label for="" class="">image</label>
            <div class="form-group">
                <input type="text" class="" id="image" name="image" />
            </div>
        </div>
        <div class="botao-cadastro">
            <div class="entrada-cadastro">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm w-100 form-cadastro-botao">Cadastrar</button>
                </div>
            </div>
            <div class="entrada-cadastro">
                <div class="form-group">
                    <a type="button" class="btn btn-outline-secondary btn-sm w-100 form-cadastro-botao-cancelar" asp-page="/Produtos/Index">Cancelar</a>
                </div>
            </div>
        </div>

    </div>
    <div class="form-cadastro-logo">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="text-white">inDEVstock</h1>
        </div>
    </div>
</form>