@page
@model InDEVstockWebApp.Pages.Produtos.CreateModel
@{
}

<h1 class="text-left">Adicionar Produto</h1>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nome" class="control-label">Nome</label>
                <input type="text" class="form-control" id="Nome" name="Nome" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">Modelo</label>
                <input type="text" class="form-control" id="Modelo" name="Modelo" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">Cor</label>
                <input type="text" class="form-control" id="Cor" name="Cor" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">Quantidade</label>
                <input type="text" class="form-control" id="Quantidade" name="Quantidade" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">Tamanho</label>
                <input type="text" class="form-control" id="Tamanho" name="Tamanho" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">image</label>
                <input type="text" class="form-control" id="image" name="image" />
            </div>
        </div>

    </div>

</form>