@page
@model InDEVstockWebApp.Pages.Produtos.DeleteModel
@{
}
<div class="alert" id="delete-modal"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ATENÇÃO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir este item?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-page="/Produtos/Detail" asp-route-id="@Model.Produto.Id">Não</a>
                <form method="post">
                    <input type="hidden" asp-for="Produto.Id" />
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>