@page
@model InDEVstockWebApp.Pages.Produtos.EditarModel
@{
}
<hr class="linha-divisao" />
<h1 class="cor-cadastro-produto">Editar Produto</h1>


<form method="post" class="row form-cadastro shadow mb-5 bg-body rounded">
    <div class="form-cadastro-informacoes">
        <h3 class="form-cadastro-descricao">Insira as informações do produto...</h3>

        <input type="hidden" asp-for="Produto.Id" />

        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.Nome" class="control-label">Nome</label>
                <input asp-for="Produto.Nome" class="form-control" />
            </div>
        </div>

        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.Modelo" class="control-label">Modelo</label>
                <input asp-for="Produto.Modelo" class="form-control" />
            </div>
        </div>

        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.Cor" class="control-label">Cor</label>
                <input asp-for="Produto.Cor" class="form-control" />
            </div>
        </div>

        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.Quantidade" class="control-label">Quantidade</label>
                <input asp-for="Produto.Quantidade" class="form-control" />
            </div>
        </div>

        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.Tamanho" class="control-label">Tamanho</label>
                <input asp-for="Produto.Tamanho" class="form-control" />
            </div>
        </div>
        <div class="entrada-cadastro">

            <div class="form-group">
                <label asp-for="Produto.imageUrl" class="control-label">Imagem</label>
                <input asp-for="Produto.imageUrl" class="form-control" />
            </div>
        </div>

        <div class="botao-cadastro">
            <div class="entrada-cadastro">
                <div class="form-group">
                    <input type="submit" value="Salvar alterações" class="btn btn-primary btn-sm w-100 form-cadastro-botao"/>
                </div>
            </div>
            <div class="entrada-cadastro">
                <div class="form-group">
                    <a asp-page="/Produtos/Listar" class="btn btn-outline-secondary btn-sm w-100 form-cadastro-botao-cancelar">Cancelar</a>
                </div>
            </div>
        </div>

    </div>
    <div class="form-cadastro-logo">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="text-white">inDEVstock</h1>
        </div>
    </div>
</form>