@page
@model InDEVstockWebApp.Pages.Produtos.IndexModel;
@{
}
<div class="container">
    <h1 class="text-center">Lista de produtos</h1>
    <section>
        @foreach (var data in Model.Produtos)
        {
           <h1>vfvfvrvrv</h1>
            <h1>ththrhrt</h1>
        }
    </section>
</div>
