@page
@model InDEVstockWebApp.Pages.Produtos.PaginaInicialModel
@{
}

<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a asp-page="/Produtos/Create" class="btn btn-primary form-control btn-block">Cadastrar produto</a>
                </div>
                <div class="col">

                    <a asp-page="/Produtos/ListaProdutos" class="btn btn-primary form-control btn-block">Listar Produto</a>
                </div>
            </div>
        </div>
    </body>

</html>