@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="container">
        <div class="row w-50 ml-auto mr-auto">
            <div class="col">
                <a asp-page="/Produtos/Create" class="btn form-cadastro-botao btn-primary form-control btn-block">Cadastrar produto</a>
            </div>
            <div class="col">

                <a asp-page="/Produtos/Listar" class="btn form-cadastro-botao btn-primary form-control btn-block">Listar Produto</a>
            </div>
        </div>
    </div>
    <div class=" text-center mt-5 mb-5">
        <img src="https://gcdn.pbrd.co/images/Tuk1eg3JJDeN.webp?o=1" />
    </div>

</body>
